	<footer>
		<hr class="PieFinPag" />
		<div class="TextoPie">
			Para conocer el uso que le damos a la información consulta nuestro <a href="AvisoPrivacidad.asp">Aviso de Privacidad</a><br />
			<a href="AvisoLegal.asp">Terminos y Condiciones del sitio</a><br />
			&copy; Somos Industria 2010. Todos los derechos reservados.
		</div>
		<div class="FBPie">
			<div class="fb-like-box" data-href="http://www.facebook.com/pages/Somos-Industria/260325587342533" data-width="300" data-show-faces="false" data-stream="false" data-header="true"></div>
		</div>
	</footer>