{% load static from staticfiles %}
{% load thumbnail %}

<!DOCTYPE html>
<html lang="es" xmlns:fb="http://ogp.me/ns/fb#">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
	
	<link rel="stylesheet" type="text/css" href="{% static "css/normalize.css" %}" />
	<link rel="stylesheet" type="text/css" href="{% static "css/responsiveslides.css" %}" />
	<link rel="stylesheet" type="text/css" href="{% static "css/estilos.css" %}" />
	<link rel="stylesheet" type="text/css" href="{% static "css/slides.css" %}" />
	<link rel="stylesheet" type="text/css" href="static/css/devestilos.css" />

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
	<script type="text/javascript" src="{% static "js/prefixfree.min.js" %}"></script>
	<script type="text/javascript" src="{% static "js/responsiveslides.min.js" %}"></script>
	<script type="text/javascript" src="{% static "js/slides.js" %}"></script>
	<script type="text/javascript" src="{% static "js/inicio.js" %}"></script>
	
	<title>El medio con valor informativo | Somos Industria</title>

	<style type="text/css">


	</style>

	<script type="text/javascript">
		
	</script>
	
</head>
<body>
	{% include 'fb.html' %}

	<header>
		<div class="BannerTop">
		{% for banner in banners %}
			{% if banner.tipo.id == 1 %}
				<a href="{{ banner.link }}"><img src="{{ banner.img.url }}" alt="{{ banner.alt }}" class="BannerTopImg" /></a>
			{% endif %}
		{% endfor %}
		</div>

		{% include 'logo.html' %}
	</header>

	{% include 'menu.html' %}

	<section id="Sec1">
		<div class="ContBusq" id="sum">
			<div class="top">
				<img src="{% static "img/X1.jpg" %}" alt="Somos Industria" class="special">
			</div>
			<div class="membr">
				<div class="alum">
					<a class="atopbaner1435">Búsqueda</a>
					<div id="job" class="sucks">
						<img src="{% static "img/X.jpg" %}" alt="Somos Industria">
					</div>
				</div>
				<div class="aret">
					<input type="text" class="ung">
					<input type="submit" class="umi" value="Buscar">
				</div>
			</div>
		</div>

		<div class="ColSec Sec1Col1">
		{% for port in portada %}
			<article class="sub">
				<a class="atopbaner" href="{% url "articulo" port.slug %}">
					{{ port.titulo }}
				</a>
				<div class="Anuncios">
					<a class="AnunciosCon">
						{{ port.sumario }}
					</a>
				</div>
				<div class="especialh2">
					<a href="{% url "articulo" port.slug %}">
						<img src="{{ port.imgportada.url }}" alt="{{ port.titulo }}" />
					</a>
				</div>
			</article>
		{% endfor %}
			
			<section class="Avances">
				<ul class="ravances">
				{% for avance in avances %}
					{% if forloop.counter = 1 %}
						<li>
					{% elif forloop.counter = 5 %}
						<li>
					{% elif forloop.counter = 9 %}
						<li>
					{% endif %}

					<article class="Avance">
						<div class="TitArtPort">
							<a href="{% url "articulo" avance.slug %}">
								{{ avance.titulo }}
							</a>
						</div>

						{% thumbnail avance.img1 "250x140" crop="center" as im %}
							<a href="{% url "articulo" avance.slug %}">
								<img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{ avance.pieimg1 }}" />
							</a>
						{% empty %}
							<p class="SinImg">Imagen no disponible</p>
						{% endthumbnail %}
					</article>

					{% if forloop.counter = 4 %}
						</li>
					{% elif forloop.counter = 8 %}
						</li>
					{% elif forloop.counter = 12 %}
						</li>
					{% endif %}
				{% endfor %}
				</ul>
				<div id="NavAvances"></div>
			</section>
		</div>

		<div class="ColSec Sec1Col2">
			<div id="NavSlides"></div>
			<ul class="rslides">
			{% for banner in banners %}
				{% if banner.tipo.id == 2 %}
				<li>
					<a href="{{ banner.link }}">
						<img src="{{ banner.img.url }}" alt="{{ banner.alt }}" />
					</a>
				</li>
				{% endif %}
			{% endfor %}
			</ul>
		</div>

		<div class="ColSec Sec1Col3">
			<div class="ContPub1">
			{% for banner in banners %}
				{% if banner.tipo.id == 3 %}
					<div class="BannerPub1">
						<a href="{{ banner.link }}">
							<img src="{{ banner.img.url }}" alt="{{ banner.alt }}" />
						</a>
					</div>
				{% endif %}
			{% endfor %}
			</div>

			<div class="ramT">
				<div>
					<div class="hort">
						<a class="noo">
							Redes Sociales
						</a>
					</div>
				</div>
				<div class="morning">
					<img src="{% static "img/L3.jpg" %}" alt="Somos Industria">
				</div>
				<div class="fact">
					<div class="fb-like" data-href="https://www.facebook.com/SomosIndustria" data-width="450" data-layout="button_count" data-show-faces="false" data-send="true">
					</div>
				</div>
				<div>
					<a href="https://twitter.com/SomosIndustria" class="twitter-follow-button" data-show-count="false" data-lang="es">
						Seguir a @SomosIndustria
					</a>
					<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
					</script>
				</div>
			</div>
		</div>
	</section>

	<section id="Sec2">
		<div class="ColSec Sec2Col1">
			<div class="Secciones">
				<div class="ContTitSecciones">
				{% for titulo in secciones %}
					<div id="{{ titulo.tipo.nombre|slugify }}" class="{% if forloop.first %}SeccionActivo{% else %}Seccion{% endif %}">
						<span class="MargenTS">
							{{ titulo.tipo.nombre }}
						</span>
					</div>
				{% endfor %}
				</div>

			{% for seccion in secciones %}
				<div id="C{{ seccion.tipo.nombre|slugify }}" class="InfSeccion" {% if forloop.first %}style="display:block"{% endif %}>
					<div class="lluv" id="Ic1">
						<a href="{% url "articulo" seccion.slug %}" class="atopbaner2">
							{{ seccion.titulo }}
						</a>
					</div>
					<div class="luc">
					{% thumbnail seccion.img1 "250x140" crop="center" as im %}
						<a href="{% url "articulo" seccion.slug %}">
							<img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{ seccion.pieimg1 }}" />
						</a>	
					{% empty %}
						<p class="SinImg">Imagen no disponible</p>
					{% endthumbnail %}
					</div>
					<div class="sk">
						<a class="AnunciosCon2">
							{{ seccion.contenido|truncatewords:"30" }}
						</a>
					</div>
				</div>
			{% endfor %}
			</div>

			<div class="BandArticulos">
				<img src="{% static "img/L4.jpg" %}" alt="Somos Industria" class="surv2" />
				<div class="every">
					<div class="break">
						<a class="guru4">
							Articulos
						</a>
					</div>
				</div>
			</div>

			<section class="Articulos">
			{% for art in articulos %}
				<article class="Articulo">
					<div class="TitArticulo">
						<a href="{% url "articulo" art.slug %}" class="atopbaner19">
							{{ art.titulo }}
						</a>
					</div>
					{% thumbnail art.img1 "200x120" crop="center" as im %}
						<figure>
							<a href="{% url "articulo" art.slug %}">
								<img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{ art.pieimg1 }}" />
							</a>
						</figure>
					{% empty %}
						<p class="SinImg">Imagen no disponible</p>
					{% endthumbnail %}
				</article>
			{% endfor %}
			</section>
		</div>
	</section>

	<aside id="Pub2">
		<div class="fat">
			<div class="share">
			{% for banner in banners %}
				{% if banner.tipo.id == 4 %}
					<div class="bug">
						<a href="{{ banner.link }}">
							<img src="{{ banner.img.url }}" alt="{{ banner.alt }}" class="lu" />
						</a>
					</div>
				{% endif %}
			{% endfor %}
			</div>
			<div class="dongo">
				<div class="papa">
					<div class="bigote">
						<a class="guru350">
							Agenda
						</a>
					</div>
					<img class="display" src="{% static "img/X2.jpg" %}" alt="Somos Industria">
				</div>
				<div>
					<img src="{% static "img/Agenda.png" %}" alt="Agenda Somos Industria" class="thisucks">
				</div>
			</div>
			<div class="hate">
				<div class="papa">
					<div class="sucks03">
						<a class="sucks02">
							Se busca proveedores
						</a>
					</div>
					<img class="display" src="{% static "img/X2.jpg" %}" alt="Somos Industria">
				</div>
				<div>
					<img src="{% static "img/Provedor.png" %}" alt="Proveedores Somos Industria" class="thisucks">
				</div>
			</div>
		</div>
	</aside>

	<section id="Sec3">
		<div class="BandTema">
			<img src="{% static "img/L6.jpg" %}" alt="Somos Industria" class="surv2" />
			<div class="every156">
				<div class="break">
					<a class="guru4">
						Inversión
					</a>
				</div>
			</div>
		</div>

		<section class="Tematicos">
		{% for art in tema1 %}
			<article class="ATema1">
				<div class="TitTema">
					<a href="{% url "articulo" art.slug %}">
						{{ art.titulo }}
					</a>
				</div>
				{% thumbnail art.img1 "290x160" crop="center" as im %}
					<figure>
						<a href="{% url "articulo" art.slug %}">
							<img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{ art.pieimg1 }}" />
						</a>
					</figure>
				{% empty %}
					<p class="SinImg">Imagen no disponible</p>
				{% endthumbnail %}
			</article>
		{% endfor %}
		</section>

		<!-- <div class="arumX">
			<div class="ong2">
				<a class="atopbaner49">
					Empresa promueven la arquitectura LEED
				</a>
			</div>
			<img src="http://www.somosindustria.com/Imagenes/AGOSTO13/Interiores/Bioconstruccion%20BEA.jpg" class="auto2" alt="Art1" />
		</div>
		<div class="arumX">
			<div class="ong2">
				<a class="atopbaner49">
					Aseguran operación de Gas en empresas
				</a>
			</div>
			<img src="http://www.somosindustria.com/Imagenes/AGOSTO13/Interiores/Gas%20Stand%20By.jpg" class="auto2" alt="Art1" />
		</div>
		<div class="arumX">
			<div class="ong2">
				<a class="atopbaner49">
					Se especializan en cabinas de pintura
				</a>
			</div>
			<img src="http://www.somosindustria.com/Imagenes/AGOSTO13/Interiores/Global%20Finishing%20Solutions.jpg" class="auto2" alt="Art1" />
		</div>
		<div class="arumX">
			<div class="ong2">
				<a class="atopbaner49">
					Ofrecen nuevas aplicaciones para la industria automotriz
				</a>
			</div>
			<img src="http://www.somosindustria.com/Imagenes/AGOSTO13/Interiores/Gudel.jpg" class="auto2" alt="Art1" />
		</div>
		<div class="arumX">
			<div class="ong2">
				<a class="atopbaner49">
					Es VW una armadora altamente productiva
				</a>
			</div>
			<img src="http://www.somosindustria.com/Imagenes/AGOSTO13/Interiores/VW.jpg" class="auto2" alt="Art1" />
		</div>
		<div class="arumX">
			<div class="ong2">
				<a class="atopbaner49">
					Desarrollando Nuevas Tecnologías de Corte
				</a>
			</div>
			<img src="http://www.somosindustria.com/Imagenes/AGOSTO13/Interiores/Herramental.jpg" class="auto2" alt="Art1" />
		</div> -->
	</section>

	<section id="Sec4">
		<div class="BandTema">
			<img src="{% static "img/L5.jpg" %}" alt="Somos Industria" class="surv2" />
			<div class="every8">
				<div class="break">
					<a class="guru4">
						Negocios
					</a>
				</div>
			</div>
		</div>

		<section class="Tematicos">
		{% for art in tema2 %}
			<article class="ATema2">
				<div class="TitTema">
					<a href="{% url "articulo" art.slug %}">
						{{ art.titulo }}
					</a>
				</div>

				{% thumbnail art.img1 "250x150" crop="center" as im %}
					<figure>
						<img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="art.pieimg1" />
					</figure>
				{% empty %}
					<p class="SinImg">Imagen no disponible</p>
				{% endthumbnail %}
			</article>
		{% endfor %}
		</section>
			
		<!-- <div class="moon">
			<div class="lorien">
				<a class="atopbaner19">
					Realizan Encuentro de Negocios
				</a>
			</div>
			<img src="http://somosindustria.com/Imagenes/AGOSTO13/Interiores/Ecuentro%20Qro.jpg" class="cryp" alt="Art1" />
		</div>
		<div class="moon">
			<div class="lorien">
				<a class="atopbaner19">
					¿Cómo aprovechar el Mexican Moment?
				</a>
			</div>
			<img src="http://somosindustria.com/Imagenes/AGOSTO13/Interiores/Colaboracion%20Carlos%20Munoz.jpg" class="cryp" alt="Art1" />
		</div>
		<div class="moon">
			<div class="lorien">
				<a class="atopbaner19">
					Reporte de Negocios en México
				</a>
			</div>
			<img src="http://somosindustria.com/Imagenes/AGOSTO13/Interiores/Reporte%20de%20negocios.jpg" class="cryp" alt="Art1" />
		</div>
		<div class="moon">
			<div class="lorien">
				<a class="atopbaner19">
					Realiza ProMéxico seminario de exportación
				</a>
			</div>
			<img src="http://somosindustria.com/Imagenes/AGOSTO13/Interiores/Promexico.jpg" class="cryp" alt="Art1" />
		</div>
		<div class="moon">
			<div class="lorien">
				<a class="atopbaner19">
					Tiene Nuevo León primer Parque Eólico
				</a>
			</div>
			<img src="http://somosindustria.com/Imagenes/AGOSTO13/Interiores/Parque%20Eolico.jpg" class="cryp" alt="Art1" />
		</div>
		<div class="moon">
			<div class="lorien">
				<a class="atopbaner19">
					Expansión de Negocios en México
				</a>
			</div>
			<img src="http://somosindustria.com/Imagenes/AGOSTO13/Interiores/MFM.jpg" class="cryp" alt="Art1" />
		</div>
		<div class="moon">
			<div class="lorien">
				<a class="atopbaner19">
					Ofrecen nuevas aplicaciones para la industria automotriz
				</a>
			</div>
			<img src="http://somosindustria.com/Imagenes/AGOSTO13/Interiores/Gudel.jpg" class="cryp" alt="Art1" />
		</div>
		<div class="moon">
			<div class="lorien">
				<a class="atopbaner19">
					Exitosa EXPOPACK en México D.F.
				</a>
			</div>
			<img src="http://somosindustria.com/Imagenes/AGOSTO13/Interiores/Expo%20Pack.jpg" class="cryp" alt="Art1" />
		</div>
		<div class="moon">
			<div class="lorien">
				<a class="atopbaner19">
					Fomentan desarrollo de talento
				</a>
			</div>
			<img src="http://somosindustria.com/Imagenes/AGOSTO13/Interiores/eriac.jpg" class="cryp" alt="Art1" />
		</div> -->
	</section>

	<aside id="Pub3">
		{% for banner in banners %}
			{% if banner.tipo.id == 5 %}
				<div>
					<a href="banner.link">
						<img src="{{ banner.img.url }}" alt="{{ banner.alt }}" class="alu" />
					</a>
				</div>
			{% endif %}
		{% endfor %}
	</aside>

	{% include 'footer.html' %}

</body>
</html>