<!DOCTYPE html>
<html lang="es" xmlns:fb="http://ogp.me/ns/fb#">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
	{% load static from staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static "css/normalize.css" %}" />
	<link rel="stylesheet" type="text/css" href="{% static "css/estilos.css" %}" />

	<script type="text/javascript" src="{% static "js/prefixfree.min.js" %}"></script>
	<title>El medio con valor informativo | Somos Industria</title>
</head>
<body>
	{% include 'fb.html' %}

	<header>
		<div class="BannerTop">
			<a href="http://somosindustria.com/Directorio.asp"><img src="{% static "img/bannerdirectorio1.jpg" %}" alt="Directorio de Proveedores" class="BannerTopImg" /></a><a href="http://somosindustria.com/RegDirProv.asp"><img src="{% static "img/bannerdirectorio2.jpg" %}" alt="Registro al Directorio de Proveedores" class="BannerTopImg" /></a>
		</div>

		{% include 'logo.html' %}
	</header>

	{% include 'menu.html' %}

	<section id="Sec1">
		<div class="ContBusq" id="sum">
			<div class="top">
				<img src="{% static "img/X1.jpg" %}" alt="Somos Industria" class="special">
			</div>
			<div class="membr">
				<div class="alum">
					<a class="atopbaner1435">Búsqueda</a>
					<div id="job" class="sucks">
						<img src="{% static "img/X.jpg" %}" alt="Somos Industria">
					</div>
				</div>
				<div class="aret">
					<input type="text" class="ung">
					<input type="submit" class="umi" value="Buscar">
				</div>
			</div>
		</div>

		<div class="ColSec Sec1Col1">
			<div class="sub">
				<a class="atopbaner">
					Invierten nuevas empresas en México
				</a>
				<div class="Anuncios">
					<a class="AnunciosCon">
						Compañias tanto extranjeras como nacionales tienen presencia por primera vez en el país y otras tantas crecen sus operaciones ya existentes.
					</a>
				</div>
				<div class="especialh2">
					<img class="telefonon" src="http://www.somosindustria.mx/Ufo/U1.jpg" alt="Invierten Nuevas Empresas">
				</div>
			</div>
			<div class="ram5">
				<div class="l1">
					<div class="l2">
						<a class="atopbaner1">
							3M Inagura centro en San Luis Potosi
						</a>
					</div>
					<img src="http://www.somosindustria.com/Imagenes/AGOSTO13/Interiores/3M.jpg" alt="3M Inaguro" class="fru">
				</div>
				<div class="l3">
					<div class="l2">
						<a class="atopbaner1">
							Pirelli invierte 200 mdd mas
						</a>
					</div>
					<img src="http://www.somosindustria.com/Imagenes/AGOSTO13/Interiores/Pirelli.jpg" alt="Pirelli invierte" class="fru">
				</div>
				<div class="l6">
					<div class="l2">
						<a class="atopbaner1">
							Invierte General Motors 691 mdd
						</a>
					</div>
					<img src="http://www.somosindustria.com/Imagenes/AGOSTO13/Interiores/GM.jpg" alt="GM Invierte" class="fru">
				</div>
				<div class="l3">
					<div class="l2">
						<a class="atopbaner1">
							Lego invierte 125 mdd en ampliación
						</a>
					</div>
					<img src="http://www.somosindustria.com/Imagenes/AGOSTO13/Interiores/Lego.jpg" alt="Lego invierte" class="fru">
				</div>
			</div>
		</div>

		<div class="ColSec Sec1Col2">
			<div class="rar">
				<div>
					<a class="hom" id="1">
						<img src="http://www.somosindustria.mx/Ufo/K2.jpg" id="11" alt="Boton1">
					</a>
					<a class="hom" id="2">
						<img src="http://www.somosindustria.mx/Ufo/K1.jpg" alt="Boton2" id="22">
					</a>
				</div>
			</div>
			<div id="pum" class="rest">
				<img src="http://www.somosindustria.mx/Ufo/U2.jpg" alt="BannerMapas">
				<div class="min1">
					<img src="http://www.somosindustria.mx/Ufo/U5.jpg" alt="Mapa Queretaro">
				</div>
				<div class="min1">
					<img src="http://www.somosindustria.mx/Ufo/U6.jpg" alt="Mapa Queretaro">
				</div>
				<div class="min1">
					<img src="http://www.somosindustria.mx/Ufo/U7.jpg" alt="Mapa Queretaro">
				</div>
				<div class="min1">
					<img src="http://www.somosindustria.mx/Ufo/U8.jpg" alt="Mapa Queretaro">
				</div>
				<div class="min1">
					<img src="http://www.somosindustria.mx/Ufo/U3.jpg" alt="Mapa Queretaro">
				</div>
			</div>
			<div class="best" id="pum2">
				<img src="Img/Bole.png" alt="Somos Industria">
			</div>
		</div>

		<div class="ColSec Sec1Col3">
			<div class="BannerPub1">
				<img src="http://www.somosindustria.com/Imagenes/Clientes/dickiesSIjunio13.gif" alt="P1">
			</div>
			
			<div class="BannerPub1">
				<img src="http://www.somosindustria.com/Imagenes/Clientes/Herramental3.jpg" alt="P2">
			</div>


			<div class="ramT">
				<div>
					<div class="hort">
						<a class="noo">
							Redes Sociales
						</a>
					</div>
				</div>
				<div class="morning">
					<img src="{% static "img/L3.jpg" %}" alt="Somos Industria">
				</div>
				<div class="fact">
					<div class="fb-like" data-href="https://www.facebook.com/SomosIndustria" data-width="450" data-layout="button_count" data-show-faces="false" data-send="true">
					</div>
				</div>
				<div>
					<a href="https://twitter.com/SomosIndustria" class="twitter-follow-button" data-show-count="false" data-lang="es">
						Seguir a @SomosIndustria
					</a>
					<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
					</script>
				</div>
			</div>
		</div>
	</section>

	<section id="Sec2">
		<div class="ColSec Sec2Col1">
			<div class="closer">
				<div class="aru">
					<div class="lum0" id="AR3">
						<div class="ars3">
							<a class="las" id="ju3">
								Horizonte Industrial
							</a>
						</div>
					</div>
					<div class="lum1" id="AR0">
						<div class="ars">
							<a class="las1" id="ju0">
								Somos Exportadores
							</a>
						</div>
					</div>
					<div class="lum1" id="AR1">
						<div class="ars4">
							<a class="las1" id="ju1">
								Gente con Valor
							</a>
						</div>
					</div>
					<div class="lum1" id="AR2">
						<div class="ars2">
							<a class="las1" id="ju2">
								Salud
							</a>
						</div>
					</div>
				</div>
				<div class="lluv" id="Ic1">
					<a class="atopbaner2" id="oc1">
						Fabrican empaques flexibles
					</a>
				</div>
				<div class="luc">
					<img src="http://www.somosindustria.com/Imagenes/AGOSTO13/Interiores/Somos%20Exportadores.jpg" alt="Empaques Flexibles" class="fru2" id="oc3">
				</div>
				<div class="sk">
					<a class="AnunciosCon2" id="oc2">
						La empresa ubicada en el Parque Industrial FINSA, se dedica a la fabricación de diversos empaques flexibles de plástico, mismos que poseen una amplia gama de aplicaciones; desde empaque para líquidos como shampoo, limpiadores, salsas, polvo...
					</a>
				</div>
			</div>

			<div class="mid" id="Aski01">
				<div class="lear">
					<img src="{% static "img/L4.jpg" %}" alt="Somos Industria" class="surv2">
					<div class="every">
						<div class="break">
							<a class="guru4">
								Inversión
							</a>
						</div>
					</div>
				</div>
				<div class="arumW">
					<div class="ong">
						<a class="atopbaner19">
							Invierte DENSO 51 mdd en ampliación
						</a>
					</div>
					<img src="http://www.somosindustria.com/Imagenes/AGOSTO13/Interiores/Denso.jpg" class="auto" alt="Art1">
				</div>
				<div class="arumW">
					<div class="ong">
						<a class="atopbaner19">
							Invierte Mondeléz Internacional 600 mdd
						</a>
					</div>
					<img src="http://www.somosindustria.com/Imagenes/AGOSTO13/Interiores/Interpuerto.jpg" class="auto" alt="Art1">
				</div>
				<div class="arumW">
					<div class="ong">
						<a class="atopbaner19">
							Anuncian inversión Europea en Querétaro
						</a>
					</div>
					<img src="http://www.somosindustria.com/Imagenes/AGOSTO13/Interiores/Apoyo%20Aeronautico.jpg" class="auto" alt="Art1">
				</div>
				<div class="arumW">
					<div class="ong">
						<a class="atopbaner19">
							Invierte Tisamatic 65 mdd
						</a>
					</div>
					<img src="http://www.somosindustria.com/Imagenes/AGOSTO13/Interiores/Tisamatic.jpg" class="auto" alt="Art1" />
				</div>
				<div class="arumW">
					<div class="ong">
						<a class="atopbaner19">
							Colocan primera piedra del segundo edificio ‘SPEC CDR II’
						</a>
					</div>
					<img src="http://www.somosindustria.com/Imagenes/AGOSTO13/Interiores/Marabis.jpg" class="auto" alt="Art1">
				</div>
				<div class="arumW">
					<div class="ong">
						<a class="atopbaner19">
							Estrechan relaciones comerciales y de inversión
						</a>
					</div>
					<img src="http://www.somosindustria.com/Imagenes/AGOSTO13/Interiores/Mexico-Portugal.jpg" class="auto" alt="Art1">
				</div>
			</div>
			<div class="rust">
				<div class="arubis" id="Aski0">
					<div class="rama">
						<div class="profe">
							<a class="rama3">
								Mas Artículos
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<aside id="Pub2">
		<div class="fat">
			<div class="share">
				<div class="bug">
					<img src="http://www.somosindustria.com/Imagenes/Clientes/Suntak.jpg" alt="Publicidad Media1" class="lu">
				</div>
				<div class="bug">
					<img src="http://www.somosindustria.com/Imagenes/Clientes/rvm.jpg" alt="Publicidad Media2" class="lu">
				</div>
				<div class="bug">
					<img src="http://www.somosindustria.com/Imagenes/Clientes/tmr.jpg" alt="Publicidad Media3" class="lu">
				</div>
				<div class="bug">
					<img src="http://www.somosindustria.com/Imagenes/Clientes/BanerAOC3.jpg" alt="Publicidad Media4" class="lu">
				</div>
				<div class="bug">
					<img src="http://somosindustria.com/Imagenes/Clientes/Promexico.gif" alt="Publicidad Media5" class="lu">
				</div>
			</div>
			<div class="dongo">
				<div class="papa">
					<div class="bigote">
						<a class="guru350">
							Agenda
						</a>
					</div>
					<img class="display" src="{% static "img/X2.jpg" %}" alt="Somos Industria">
				</div>
				<div>
					<img src="{% static "img/Agenda.png" %}" alt="Agenda Somos Industria" class="thisucks">
				</div>
			</div>
			<div class="hate">
				<div class="papa">
					<div class="sucks03">
						<a class="sucks02">
							Se busca proveedores
						</a>
					</div>
					<img class="display" src="{% static "img/X2.jpg" %}" alt="Somos Industria">
				</div>
				<div>
					<img src="{% static "img/Provedor.png" %}" alt="Proveedores Somos Industria" class="thisucks">
				</div>
			</div>
		</div>
	</aside>

	<section id="Sec3">
		<div class="lear23">
			<img src="{% static "img/L6.jpg" %}" alt="Somos Industria" class="surv2" />
			<div class="every156">
				<div class="break">
					<a class="guru4">
						Industria
					</a>
				</div>
			</div>
		</div>
		<div class="arumX">
			<div class="ong2">
				<a class="atopbaner49">
					Empresa promueven la arquitectura LEED
				</a>
			</div>
			<img src="http://www.somosindustria.com/Imagenes/AGOSTO13/Interiores/Bioconstruccion%20BEA.jpg" class="auto2" alt="Art1" />
		</div>
		<div class="arumX">
			<div class="ong2">
				<a class="atopbaner49">
					Aseguran operación de Gas en empresas
				</a>
			</div>
			<img src="http://www.somosindustria.com/Imagenes/AGOSTO13/Interiores/Gas%20Stand%20By.jpg" class="auto2" alt="Art1" />
		</div>
		<div class="arumX">
			<div class="ong2">
				<a class="atopbaner49">
					Se especializan en cabinas de pintura
				</a>
			</div>
			<img src="http://www.somosindustria.com/Imagenes/AGOSTO13/Interiores/Global%20Finishing%20Solutions.jpg" class="auto2" alt="Art1" />
		</div>
		<div class="arumX">
			<div class="ong2">
				<a class="atopbaner49">
					Ofrecen nuevas aplicaciones para la industria automotriz
				</a>
			</div>
			<img src="http://www.somosindustria.com/Imagenes/AGOSTO13/Interiores/Gudel.jpg" class="auto2" alt="Art1" />
		</div>
		<div class="arumX">
			<div class="ong2">
				<a class="atopbaner49">
					Es VW una armadora altamente productiva
				</a>
			</div>
			<img src="http://www.somosindustria.com/Imagenes/AGOSTO13/Interiores/VW.jpg" class="auto2" alt="Art1" />
		</div>
		<div class="arumX">
			<div class="ong2">
				<a class="atopbaner49">
					Desarrollando Nuevas Tecnologías de Corte
				</a>
			</div>
			<img src="http://www.somosindustria.com/Imagenes/AGOSTO13/Interiores/Herramental.jpg" class="auto2" alt="Art1" />
		</div>
	</section>

	<section id="Sec4">
		<div class="lear">
			<img src="{% static "img/L5.jpg" %}" alt="Somos Industria" class="surv2" />
			<div class="every8">
				<div class="break">
					<a class="guru4">
						Información
					</a>
				</div>
			</div>
		</div>
			
		<div class="moon">
			<div class="lorien">
				<a class="atopbaner19">
					Realizan Encuentro de Negocios
				</a>
			</div>
			<img src="http://somosindustria.com/Imagenes/AGOSTO13/Interiores/Ecuentro%20Qro.jpg" class="cryp" alt="Art1" />
		</div>
		<div class="moon">
			<div class="lorien">
				<a class="atopbaner19">
					¿Cómo aprovechar el Mexican Moment?
				</a>
			</div>
			<img src="http://somosindustria.com/Imagenes/AGOSTO13/Interiores/Colaboracion%20Carlos%20Munoz.jpg" class="cryp" alt="Art1" />
		</div>
		<div class="moon">
			<div class="lorien">
				<a class="atopbaner19">
					Reporte de Negocios en México
				</a>
			</div>
			<img src="http://somosindustria.com/Imagenes/AGOSTO13/Interiores/Reporte%20de%20negocios.jpg" class="cryp" alt="Art1" />
		</div>
		<div class="moon">
			<div class="lorien">
				<a class="atopbaner19">
					Realiza ProMéxico seminario de exportación
				</a>
			</div>
			<img src="http://somosindustria.com/Imagenes/AGOSTO13/Interiores/Promexico.jpg" class="cryp" alt="Art1" />
		</div>
		<div class="moon">
			<div class="lorien">
				<a class="atopbaner19">
					Tiene Nuevo León primer Parque Eólico
				</a>
			</div>
			<img src="http://somosindustria.com/Imagenes/AGOSTO13/Interiores/Parque%20Eolico.jpg" class="cryp" alt="Art1" />
		</div>
		<div class="moon">
			<div class="lorien">
				<a class="atopbaner19">
					Expansión de Negocios en México
				</a>
			</div>
			<img src="http://somosindustria.com/Imagenes/AGOSTO13/Interiores/MFM.jpg" class="cryp" alt="Art1" />
		</div>
		<div class="moon">
			<div class="lorien">
				<a class="atopbaner19">
					Ofrecen nuevas aplicaciones para la industria automotriz
				</a>
			</div>
			<img src="http://somosindustria.com/Imagenes/AGOSTO13/Interiores/Gudel.jpg" class="cryp" alt="Art1" />
		</div>
		<div class="moon">
			<div class="lorien">
				<a class="atopbaner19">
					Exitosa EXPOPACK en México D.F.
				</a>
			</div>
			<img src="http://somosindustria.com/Imagenes/AGOSTO13/Interiores/Expo%20Pack.jpg" class="cryp" alt="Art1" />
		</div>
		<div class="moon">
			<div class="lorien">
				<a class="atopbaner19">
					Fomentan desarrollo de talento
				</a>
			</div>
			<img src="http://somosindustria.com/Imagenes/AGOSTO13/Interiores/eriac.jpg" class="cryp" alt="Art1" />
		</div>	
	</section>

	<aside id="Pub3">
		<div>
			<a href="#">
				<img src="http://www.somosindustria.mx/Ufo/Prozone.jpg" alt="P1" class="alu" />
			</a>
		</div>
		<div>
			<a href="#">
				<img src="http://www.somosindustria.com/Imagenes/Clientes/Banner_MFM.gif" alt="P1" class="alu" />
			</a>
		</div>
		<div>
			<a href="#">
				<img src="http://www.somosindustria.com/Imagenes/Clientes/Citius.jpg" alt="P1" class="alu" />
			</a>
		</div>
		<div>
			<a href="#">
				<img src="http://www.somosindustria.com/Imagenes/Clientes/Hamton.jpg" alt="P1" class="alu" />
			</a>
		</div>
		<div>
			<a href="#">
				<img src="http://www.somosindustria.com/Imagenes/Clientes/Aspe.jpg" alt="P1" class="alu" />
			</a>
		</div>
		<div>
			<a href="#">
				<img src="http://www.somosindustria.com/Imagenes/Clientes/Rios-Corrugadora.jpg" alt="P1" class="alu" />
			</a>
		</div>
		<div>
			<a href="#">
				<img src="http://www.somosindustria.com/Imagenes/Clientes/Basculas.jpg" alt="P1" class="alu" />
			</a>
		</div>
	</aside>

	{% include 'footer.html' %}

</body>
</html>