{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="es" xmlns:fb="http://ogp.me/ns/fb#">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

	<link rel="stylesheet" type="text/css" href="{% static "css/normalize.css" %}" />
	<link rel="stylesheet" type="text/css" href="{% static "css/estilos.css" %}" />
	<link rel="stylesheet" type="text/css" href="/static/css/devestilos.css" />

	<script type="text/javascript" src="{% static "js/prefixfree.min.js" %}"></script>
	<title>Nuevas Industrias</title>
</head>
<body>

	{% include 'fb.html' %}

	<header>
		<div class="BannerTop">
		{% for banner in banners %}
			{% if banner.tipo.id == 6 %}
				<a href="{{ banner.link }}"><img src="{{ banner.img.url }}" alt="{{ banner.alt }}" class="BannerTopImg" /></a>
			{% endif %}
		{% endfor %}
		</div>

		{% include 'logo.html' %}
	</header>

	{% include 'menu.html' %}

	<h1 class="Encabezado">Llegada de nuevas empresas, expansiones y reubicaciones</h1>

	<section class="Estados">
	{% for edo in estados %}
		{% if edo.slug == slug %}
			<div class="Estado" style="border-color:{{ edo.color }};border-bottom:2px solid {{edo.color }};">
				<a href="{% url "industrias" edo.slug %}">
					<strong>
						{{ edo.nombre }}
					</strong>
				</a>
			</div>
		{% else %}
			<div class="Estado" style="border-color:{{ edo.color }};">
				<a href="{% url "industrias" edo.slug %}">
					{{ edo.nombre }}
				</a>
			</div>
		{% endif %}
	{% endfor %}
	</section>

	<h3 class="">
		Cierres de contrato de bienes inmobiliarios industriales en <span class="NomEdo"> {{  }}</span>
	</h3>

	<div class="fechas">
		Consulta por fecha: 
	</div>

	<section class="industrias">
		
	</section>


	{% include 'footer.html' %}
</body>
</html>
