		{% load static from staticfiles %}
		<div class="SecLogo">
			<div class="BandAnucia">
				<img src="{% static "img/L2.jpg" %}" alt="Anunciate con nosotros" class="BandAnunciaIzq" />
				<div class="BandAnunciaTxt">
					<a href="#">
						Anunciate con nosotros
					</a>
				</div>
			</div>
			<div class="LogoCapa">
				<img src="{% static "img/Logo.gif" %}" alt="Somos Industria" />
			</div>
			<div class="EdiImp">
				<img src="{% static "img/Impreso.jpg" %}" alt="Edicion Impresa" class="EdiImpImg" />
				<div class="EdiImpTxt">
					<a href="#">
						Edición Impresa
					</a>
				</div>
				<div class="EdiImpTxt2">
					<a href="#">
						Ago 2013
					</a>
				</div>
				<img class="falta" src="{% static "img/L1.jpg" %}" alt="Edición Impresa" />
			</div>
		</div>