	{% load static from staticfiles %}
	<nav>
		<ul class="ul">
			<li class="HomeBtn">
				<a href="{% url "home" %}"><img src="{% static "img/Home.jpg" %}" alt="Home" class="HomeImg"></a>
			</li>
			<li>
				<a>Nuevas Industrias</a>
			</li>
			<li>
				<a>Se buscan proveedores</a>
			</li>
			<li>
				<a>Directorio</a>
			</li>
			<li>
				<a>Edicion Impresa</a>
			</li>
			<li>
				<a href="{% url "empresa" %}">Empresa</a>
			</li>
			<li>
				<a>Contacto</a>
			</li>
			<li class="BusqBtn">
				<div class="BusqImg">
					<img src="{% static "img/W1.jpg" %}" alt="Busqueda" />
				</div>
			</li>
		</ul>
	</nav>