.ATema1 {
	display: inline-block;
	height:200px;
	margin:0 20px 35px 0;
	width:300px;
	vertical-align: top;
}

.ATema2 {
	display: inline-block;
	height:200px;
	margin:0 auto 20px;
	width:265px;
	vertical-align: top;
}

.TitTema {
	color: #444;
	font-family: Tahoma;
	font-size: 1em;
	font-weight: bold;
	margin: 0 0 0.4em 0;
}


/*Testeo*/
.brojo {
	border: 1px solid #f00;
}

.bverde {
	border: 1px solid #090;
}

.bazul {
	border: 1px solid blue;
}
/*Testeo*/